.image {
  height: 360px;
}
.bgImage {
  background-image: url("https://images.unsplash.com/photo-1603400521630-9f2de124b33b?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 65vh; /* Adjust as needed */
  position: relative;
  color: white;
  font-family: "Roboto", sans-serif;
}
.headerDiv {
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #dddddd;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
}

@media only screen and (max-width: 760px) {
  .bgImage {
    background-image: url("https://cdn.allbirds.com/image/upload/f_auto,q_auto,w_1541/cms/4SfU63toflVbXaLU7chJ8k/e63cf445f121eb854b4b5fa7526af38c/24Q2_MemorialDayPromo_Site_Homepage_Hero_Mobile_1651x1674_TestB.jpg");
  }
  p {
    font-size: 14px;
  }
}
